/* This is for the to the top button */
#topbtn {
  /* display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 40px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: blue; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */

}


#topbtn:hover {
  background-color: #555;
}


h1 {
  text-align: center;
  font-family: fantasy;
  font-size: 50px;
  outline: inherit;
  outline-color: inherit;

}

h2 {
  text-align: center;
  top: 0;
  /* background-color: black; */
  padding: 15px;
  font-size: 25px;
  margin: 15px;
  font-family: sans-serif;

}

#hehe {
  font-weight: lighter;
  color: #0000FF;
  font-size: 50px;
}
